<!DOCTYPE html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Locate a Food Pantry - Ventura County | Reducing Food Waste through Donation and Composting Resources</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Locate a Food Pantry</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <div class="container">
      <div class="container">
          <a href="/" alt="Home"><div class="logo"><%= image_tag("pledge.jpg") %></div></a>
      </div>
      Locate a Food Pantry - Ventura County
    </div>
  </header>

  <main class="content">
      <div class="container">
        <%= yield %>
      </div>
  </main>
  <footer>
      <div class="container">
          <p>
            A <a href="http://www.datalook.io" alt="DataLook">DataLook.io replication </a> of the Vermont Food Rescue App.
            <br/>

  </footer>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

/*ga('create', 'UA-51553619-1', 'food-rescue.herokuapp.com');
ga('send', 'pageview'); */
</script>

</body>
</html>
